/* todos os blocos / componentes */

/* ------------------- *\
    plano brabo do BEM
\* ------------------- */

.plano {
    /* Exibição e Box Model */
    padding: 10px;
    border: 1px solid #9aa;

}

    .plano__cabecalho {
        margin: -10px -10px 0 -10px;

        background-color: #9aa;
        color: #f0f0f0;

        text-align: center;
        line-height: 2.5;
        font-weight: normal;
        font-size: 28px;
    }

    .plano__preco {
        margin: 20px 0;

        text-align: center;
        font-size: 28px;
    }

    .plano__caracteristicas {
    /* box model */
        margin: 20px 0;
        padding: 0;
    /* Outrs */
        list-style: none;
    }

    .plano__caracteristicas > li {
        text-align: center;
    }

    .plano__rodape {
        text-align: center;
    }

/* ------------------- *\
    botão brabo do BEM
\* ------------------- */

.botao {
    display: inline-block;
    padding: 12px 16px;
    border-radius: 5px;

    background-color: #bbb;
    color: #f0f0f0;

    text-decoration: none;    
}

.botao:hover, .botao:focus {
    background-color: #aaa;
    color: #fff;
    
    text-decoration: none;
}

.botao--assinar {
    background-color: #127d00;
}

.botao--assinar:hover {
    background-color: #0e6400;
}