/* todos os blocos / componentes */

/* ------------------- *\
    plano brabo do BEM
\* ------------------- */
/* BLOCO */
.plano {
    /* Exibição e Box Model */
    padding: 10px;
    border: 1px solid #9aa;
    position: relative; /*para o ::after do plano--mais-popular ficar por cima*/

    /* ----------------------------------- ------------------- *\
    O bloco que define o padrão da fonte usando "rem". 
    Padrão do nav. é 16px. 
    A conta para aqui ficar 14px dinâmico (usando root em "rem")
    deve ser: 14/16=0.875 
    -------------------------------------- ------------------- */
    font-size: 1.4rem; /*10*14px=1.4rem*/
   
}

/* ELEMENTOS */
/* ----------------------------------- ------------------- *\
    Elementos sempre relativos ao bloco-pai 
    O bloco que define o padrão da fonte usando "rem". 
    Os Elementos são definidos em "em"
-------------------------------------- ------------------- */
    .plano--mais-popular::after {
        position: absolute; /*para ficar por cima do plano -- procura o primeiro pai-setado com position relative*/

        top: -10px;
        left: -10px;
        padding: 5px 10px;

        background-color: #c20303;
        color: #fff;

        font-size: 0.714285714em; /* 10px / 14px = 0,714285714em */
        height: 2.5;

        content: "MAIS POPULAR";
    }

    @media (max-width: 768px) {
        .plano--mais-popular::after {
            padding: 0 10px;
            top: 5px;
            font-size: 1em;
        }

    }

    .plano__cabecalho {
        margin: -10px -10px 0 -10px;

        background-color: #9aa;
        color: #f0f0f0;

        text-align: center;
        line-height: 2.5;
        font-weight: normal;
        font-size: 2em; /* 28px -> 2x o pai(14px)*/
    }

    .plano__preco {
        margin: 20px 0;

        text-align: center;
        font-size: 2em;
    }

    .plano__caracteristicas {
    /* box model */
        margin: 20px 0;
        padding: 0;

        font-size: 1em; /*para deixar explito no código; ñ precisaria pois ele herda do .plano (pai)*/

    /* Outrs */
        list-style: none;
    }

    .plano__caracteristicas > li {
        text-align: center;
    }

    .plano__rodape {
        text-align: center;
    }

/* ------------------- *\
    botão brabo do BEM
\* ------------------- */

.botao {
    display: inline-block;
    padding: 0.8571428571em 1.142857143em; /* 12 / 14 = 0,857142857 &&& 16/14 = 1,142857143 */
    /* border-radius: 5px; */

    background-color: #bbb;
    color: #f0f0f0;

    font-size: 1em;
    text-decoration: none;    
}

.botao:hover, .botao:focus {
    background-color: #aaa;
    color: #fff;
    
    text-decoration: none;
}

.botao--assinar {
    background-color: #127d00;
}

.botao--assinar:hover {
    background-color: #0e6400;
}

.botao--principal {
    background-color: #004b86;
}

.botao--principal:hover, .botao--principal:focus {
    background-color: #003b6a;
}

/* ------------------- *\
    CHAMADA do BEM
\* ------------------- */
.chamada {
    font-size: 1.6rem; /*1.6*10 = 16px*/
    text-align: center;
}

.chamada__titulo {
    margin: 0;

    color: #fff;

    font-size: 3.37em; /*54px/16px = 3,375 */
    line-height: 0.9;
    text-shadow: 1px 1px #313131;
}

.chamada__subtitulo {
    margin: 60px;

    color: #fff;

    font-size: 1em;

}

.chamada__acao {
    font-size: 1em;
}

/* breakpoint >=992px */
@media(min-width: 992px) {
    .chamada {
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.2rem;
    }
}

/* ------------------- *\
    DEPOIMENTO do BEM
\* ------------------- */
.depoimento {
    font-size: 2.2rem; /*22px Rem*/
}

    @media(min-width: 992px) { /*breakpoint pra desktop*/
        .depoimento {
            padding-left: 15%;
            padding-right: 15%;

            font-size: 2.8rem;
        }
    }
    
    .depoimento > blockquote {
        margin: 0;
        padding: 0 60px;

        text-align: center;
        font-size: 1em;
    }

    .depoimento__autor {
        margin-top: 40px;

        text-align: center;
        font-size: 0.727272727em; /* 16/22=0,727272727 */
    }

    .depoimento__autor img {
        border-radius: 50%;
    }

    .depoimento__autor > p {
        margin-top: 10px;
    }
